<form name="myForm">
  <div class="control-group" ng-class="{error: myForm.name.$invalid}">
    <label>Название</label>
    <input type="text" name="name" ng-model="product.name" required>
    <span ng-show="myForm.name.$error.required" class="help-inline">не заполнено</span>
  </div>
 
  <div class="control-group" ng-class="{error: myForm.description.$invalid}">
    <label>Описание</label>
    <input type="text" name="description" ng-model="product.description" required>
    <span ng-show="myForm.description.$error.required" class="help-inline">не заполнено</span>
  </div>

  <br>
  <a href="#/products/{{shop.id}}" class="btn">Отмена</a>
  <button ng-click="save()" ng-disabled="myForm.$invalid" class="btn btn-primary">Сохранить</button>
</form>