<form name="myForm">
  <div class="control-group" ng-class="{error: myForm.name.$invalid}">
    <label>Название</label>
    <input type="text" name="name" ng-model="shop.name" required>
    <span ng-show="myForm.name.$error.required" class="help-inline">не заполнено</span>
  </div>
 
  <div class="control-group" ng-class="{error: myForm.adress.$invalid}">
    <label>Адрес</label>
    <input type="text" name="adress" ng-model="shop.adress" required>
    <span ng-show="myForm.adress.$error.required" class="help-inline">не заполнено</span>
  </div>
 
  <div class="control-group" ng-class="{error: myForm.mode.$invalid}">
    <label>Время работы</label>
    <input type="text" name="mode" ng-model="shop.mode" required>
    <span ng-show="myForm.mode.$error.required" class="help-inline">не заполнено</span>
  </div>
 
  <br>
  <a href="#/" class="btn">Отмена</a>
  <button ng-click="save()" ng-disabled="myForm.$invalid" class="btn btn-primary">Сохранить</button>
</form>